* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #f1f5f8;
}

.wrapper {
  width: 1200px;
  margin: 50px auto;
  display: grid;
  place-items: center;
}

h2 {
  font-size: 40px;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}
h2::after {
  content: "";
  display: block;
  border: 2px solid #2CAEBA;
  background-color: #2CAEBA;
  width: 70px;
  margin: 10px auto;
  margin-bottom: 40px;
}

.container{
  /* background-color: antiquewhite; */
  display: flex;
  gap: 50px;
}

/*  */
.name-section{
  /* background-color: lightgreen; */
  width: 25%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
}
.name-section > h3{
  width: 100%;
  margin-bottom: 15px;
  
  padding: 5px 0px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1px;
}
/* .name-section > h3{
  color: #2CAEBA;
  border-left: 3px solid #2CAEBA;
} */
.name-section > h3:hover{
  color: #2CAEBA;
  border-left: 3px solid #2CAEBA;
  transition: all ease .2s;
}

/*  */


/*  */

.desc-section > h3{
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}
.desc-section > h4{
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #617d9831;
  display: inline;
  padding: 3px 10px;
  border-radius: 5px;
  color: #617d98;
  /* margin-top: 50px; */
}
.desc-section > p{
  margin-top: 10px;
  line-height: 24px;
  color: #617d98;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.experience{
  /* background-color: lightsalmon; */
  width: 100%;
  margin-bottom: 20px;
}
.experience p > span{
  margin-right: 30px;
}
.experience p{
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #324d67;
  /* display: inline; */
  /* background-color: red; */
}
.text{
  display: flex;
}

i{
  color: #2CAEBA;
  font-size: 12px;
}
/*  */

/*  */
.button-div{
  width: 60%;
  /* background-color: slateblue; */
  
  display:grid;
  place-items: center; 
}
button  {
  color: rgba(255, 255, 255, 0.718);
  background-color: #2CAEBA;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 50px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover{
    color: rgb(102, 97, 97);
    transition: all ease 1s;
    background-color: #bff8fd;
}
/*  */

/*media query  */
@media only screen and (max-width: 1320px) {
  .wrapper {
    width: 70%;
  }
  .container{
    display: flex;
    flex-direction: column;
   
  }
  .name-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  .name-section > h3:first-child,
  .name-section > h3:hover{
    border: none;
    border-bottom: 3px solid #2CAEBA;
    
  }
}  
  

@media only screen and (max-width: 850px) {
  .wrapper {
    width: 70%;
  }
  .name-section{
    width: 100%;
  }

}
